@charset "UTF-8";
/* ZMIENNE I MIXINy*/
:root {
  --header-height: 4.5rem;
  --footer-height: 5rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: black;
  width: 100%;
}

input, textarea, button {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

p, h1, h2, h3, h4, label, input, textarea, button {
  margin: .75rem 0 .25rem 0;
  position: relative;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
}

button {
  display: block;
  padding: .75rem;
  border-radius: .5rem;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  border: 0;
  background: #fff2;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

button:hover {
  background: #fff4;
}

button:active {
  background: #E1B000;
}

input, textarea {
  display: block;
  padding: .75rem;
  border-radius: .5rem;
  -webkit-transition: .1s;
  transition: .1s;
  border: 0;
  background: #fff2;
  color: white;
  -webkit-box-shadow: inset 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}

input:focus, textarea:focus {
  background: #fff4;
}

.split {
  height: .0625rem;
  width: 80%;
  background: #fff2;
  margin: .75rem 0 .25rem 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3, h4 {
  font-size: 1.125rem;
}

li {
  font-size: 1.125rem;
}

button {
  font-size: .875rem;
}

p, label, input, textarea {
  font-size: 1rem;
}

th, td {
  font-size: .875rem;
}

.material-icons {
  font-size: inherit;
}

body.first-visit {
  height: 100vh;
  overflow: hidden;
}

body.first-visit #change-loc {
  -webkit-animation: 1s pulse cubic-bezier(0.75, 0, 0.9, 1) infinite alternate;
          animation: 1s pulse cubic-bezier(0.75, 0, 0.9, 1) infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    background: #fff2;
  }
  to {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    background: #E1B000;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    background: #fff2;
  }
  to {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    background: #E1B000;
  }
}

body.first-visit .parameter-icon img {
  -webkit-filter: opacity(0.1);
          filter: opacity(0.1);
}

body.first-visit::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 70vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30vh;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
}

header {
  background: #fff1;
  position: relative;
  z-index: 20;
  width: 100%;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 1.25rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

header #logo {
  height: 3rem;
  margin: .5rem 0 .75rem 0;
}

header .btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .btns-wrapper #info {
  margin-top: 0.25rem;
}

header .btns-wrapper #settings {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .25rem;
  height: 2.625rem;
  width: 2.625rem;
  margin: 0;
  padding: 0;
}

header #load-bar {
  display: none;
  overflow-x: hidden;
}

header #load-bar.loading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1875rem;
  display: block;
  background: #fff;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
    opacity: 0;
  }
}

img.skew {
  -webkit-transform: skew(-11deg) scale(0.8);
          transform: skew(-11deg) scale(0.8);
}

img.small {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#current #location-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  margin-bottom: 5rem;
  padding: 1rem 1.25rem;
  background: #fff1;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

#current #location-header #location {
  margin: 0;
  font-size: 1.25rem;
}

#current #preview-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 20rem;
}

#current #preview-box .temp {
  font-size: 5rem;
  font-weight: 200;
}

#current #preview-box #preview-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#current #preview-box #preview-weather .icon {
  margin: 0;
  height: 8rem;
  width: 8rem;
}

#current #preview-box #preview-weather .icon img {
  width: 100%;
  height: 100%;
}

#current .details {
  width: 85%;
  max-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#current .details .description, #current .details .feels_like-icon {
  width: 16.5rem;
  height: 3rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff1;
  margin: .25rem;
  padding: .5rem;
  font-size: .875rem;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

#current .details .description .feels_like, #current .details .feels_like-icon .feels_like {
  font-weight: 700;
}

#current .details .parameter-icon {
  height: 8rem;
  width: 8rem;
  border-radius: .5rem;
  background: #fff1;
  margin: .25rem;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  position: relative;
}

#current .details .parameter-icon .icon-name {
  position: absolute;
  bottom: .375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: .875rem;
  color: #fffa;
}

#current .details .parameter-icon.pressure-icon img {
  position: absolute;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  height: 8rem;
  width: 8rem;
}

#current .details .parameter-icon.pressure-icon .pressure {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 2.25rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

#current .details .parameter-icon.wind-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
}

#current .details .parameter-icon.wind-icon img {
  width: 4.125rem;
  height: 3.25rem;
}

#current .details .parameter-icon.wind-icon .wind_speed {
  font-size: 1rem;
  font-weight: bold;
  margin-top: .75rem;
}

#current .details .parameter-icon.clouds-icon img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#current .details .parameter-icon.clouds-icon .clouds {
  position: absolute;
  bottom: 40%;
  left: 50%;
  -webkit-transform: translateX(-42%);
          transform: translateX(-42%);
  font-size: 1.25rem;
  font-weight: bold;
}

#current .details .parameter-icon.humidity-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
}

#current .details .parameter-icon.humidity-icon img {
  margin-left: .25rem;
  padding-bottom: .75rem;
  width: 100%;
  height: 100%;
}

#current .details .parameter-icon.humidity-icon .humidity {
  font-size: 1.75rem;
  font-weight: bold;
}

#current .details .parameter-icon.sunrise-sunset-icon {
  width: 16.5rem;
}

#current .details .parameter-icon.sunrise-sunset-icon img {
  position: absolute;
  left: 50%;
  top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3.75rem;
  width: 11rem;
}

#current .details .parameter-icon.sunrise-sunset-icon .sunrise, #current .details .parameter-icon.sunrise-sunset-icon .sunset {
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 50%;
}

#current .details .parameter-icon.sunrise-sunset-icon .sunrise {
  -webkit-transform: translateX(calc(-50% - 2.875rem));
          transform: translateX(calc(-50% - 2.875rem));
}

#current .details .parameter-icon.sunrise-sunset-icon .sunset {
  -webkit-transform: translateX(calc(-50% + 2.875rem));
          transform: translateX(calc(-50% + 2.875rem));
}

#current .details .parameter-icon.humidity-icon, #current .details .parameter-icon.clouds-icon {
  display: none;
}

#current .dt {
  color: #fff9;
  margin: .5rem;
  font-size: .875rem;
}

#current #background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#current #background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% center;
     object-position: 30% center;
  -webkit-filter: blur(0.125rem) brightness(0.33);
          filter: blur(0.125rem) brightness(0.33);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#forecast {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5rem;
  background: #ffffff08;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  padding-bottom: .5rem;
}

#forecast h2 {
  text-align: center;
  width: calc(100% - 3rem);
  margin-top: 1rem;
  font-weight: 200;
  font-size: 1.5rem;
}

#forecast h3 {
  text-align: center;
  width: calc(100% - 3rem);
}

#forecast #forecast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#forecast #forecast-container .forecast-section {
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#forecast #forecast-container .minutely {
  width: calc(100% - 2rem);
  max-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.5rem;
  background: #fff1;
  border-radius: .5rem;
}

#forecast #forecast-container .minutely .chart {
  position: relative;
  height: 8rem;
  width: 100%;
}

#forecast #forecast-container .minutely .chart svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#forecast #forecast-container .minutely .chart .level {
  position: absolute;
  left: 0;
  width: 100%;
  height: .0625rem;
  background: #fff2;
}

#forecast #forecast-container .minutely .chart .level:nth-of-type(1) {
  bottom: -.0625rem;
  background: #fff8;
}

#forecast #forecast-container .minutely .chart .level:nth-of-type(2) {
  bottom: 2.5rem;
}

#forecast #forecast-container .minutely .chart .level:nth-of-type(3) {
  bottom: 4.3rem;
}

#forecast #forecast-container .minutely .chart .quarter {
  position: absolute;
  top: 0;
  height: 100%;
  width: .0625rem;
  background: #fff2;
}

#forecast #forecast-container .minutely .chart .quarter:nth-of-type(4) {
  left: 0;
}

#forecast #forecast-container .minutely .chart .quarter:nth-of-type(5) {
  left: 25%;
}

#forecast #forecast-container .minutely .chart .quarter:nth-of-type(6) {
  left: 50%;
}

#forecast #forecast-container .minutely .chart .quarter:nth-of-type(7) {
  left: 75%;
}

#forecast #forecast-container .minutely .chart .quarter:nth-of-type(8) {
  right: 0;
}

#forecast #forecast-container .minutely .chart .intensity {
  position: absolute;
  font-size: .75rem;
  text-shadow: 0 0 .375rem #000;
  left: .25rem;
  color: #fffa;
}

#forecast #forecast-container .minutely .chart .intensity.heavy {
  bottom: 7rem;
}

#forecast #forecast-container .minutely .chart .intensity.moderate {
  bottom: 3.3rem;
}

#forecast #forecast-container .minutely .chart .intensity.light {
  bottom: 1.5rem;
}

#forecast #forecast-container .minutely .time {
  width: 100%;
  position: relative;
  margin: .5rem 0 2rem 0;
}

#forecast #forecast-container .minutely .time .hour {
  position: absolute;
  top: 0;
}

#forecast #forecast-container .minutely .time .hour:nth-of-type(1) {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#forecast #forecast-container .minutely .time .hour:nth-of-type(2) {
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#forecast #forecast-container .minutely .time .hour:nth-of-type(3) {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#forecast #forecast-container .minutely .time .hour:nth-of-type(4) {
  left: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#forecast #forecast-container .minutely .time .hour:nth-of-type(5) {
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#forecast #forecast-container .minutely .opis {
  text-align: center;
}

#forecast #forecast-container .minutely .opis span {
  font-weight: bold;
}

#forecast #forecast-container .hourly {
  width: 100%;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

#forecast #forecast-container .hourly::-webkit-scrollbar {
  height: .0625rem;
  background: transparent;
}

#forecast #forecast-container .hourly::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.75);
}

#forecast #forecast-container .hourly::-webkit-scrollbar-button {
  width: .75rem;
}

@media screen and (min-width: 42em) {
  #forecast #forecast-container .hourly::-webkit-scrollbar {
    height: .5rem;
  }
  #forecast #forecast-container .hourly::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0 0 .5rem .5rem;
  }
  #forecast #forecast-container .hourly::-webkit-scrollbar-button {
    width: .5rem;
  }
}

#forecast #forecast-container .hourly::before, #forecast #forecast-container .hourly::after {
  content: '';
  min-width: 1rem;
}

#forecast #forecast-container .hourly .hourly-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.5rem;
          flex: 0 0 5.5rem;
  height: 12rem;
  border-right: .0625rem solid #fff1;
  background: #fff1;
}

#forecast #forecast-container .hourly .hourly-column:first-of-type {
  border-radius: .5rem 0 0 .5rem;
}

#forecast #forecast-container .hourly .hourly-column:last-of-type {
  border-radius: 0 .5rem .5rem 0;
  border: 0;
}

#forecast #forecast-container .hourly .hourly-column.night {
  background: #fff1;
}

#forecast #forecast-container .hourly .hourly-column .hourly-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#forecast #forecast-container .hourly .hourly-column .hourly-icon img {
  height: 3rem;
  width: 3rem;
}

#forecast #forecast-container .hourly .hourly-column .hourly-temp {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#forecast #forecast-container .hourly .hourly-column .hourly-precipitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#forecast #forecast-container .hourly .hourly-column .hourly-precipitation img {
  height: 1rem;
  max-width: 0.90625rem;
  margin-right: .375rem;
}

#forecast #forecast-container .hourly .hourly-column .hourly-precipitation .hourly-pop {
  font-size: 1.125rem;
}

#forecast #forecast-container .hourly .hourly-column .hourly-time {
  margin-top: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#forecast #forecast-container .hourly .hourly-column .hourly-time .hourly-hour {
  font-weight: bold;
}

#forecast #forecast-container .hourly .hourly-column .hourly-time .hourly-day {
  color: #fff9;
  font-size: .875rem;
}

#forecast #forecast-container .daily {
  width: 100%;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#forecast #forecast-container .daily::-webkit-scrollbar {
  height: .0625rem;
  background: transparent;
}

#forecast #forecast-container .daily::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.75);
}

#forecast #forecast-container .daily::-webkit-scrollbar-button {
  width: .75rem;
}

@media screen and (min-width: 42em) {
  #forecast #forecast-container .daily::-webkit-scrollbar {
    height: .5rem;
  }
  #forecast #forecast-container .daily::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0 0 .5rem .5rem;
  }
  #forecast #forecast-container .daily::-webkit-scrollbar-button {
    width: .5rem;
  }
}

#forecast #forecast-container .daily::before, #forecast #forecast-container .daily::after {
  content: '';
  min-width: 1rem;
}

#forecast #forecast-container .daily .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 33rem;
          flex: 1 33rem;
}

#forecast #forecast-container .daily .wrapper .daily-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .375rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: .0675rem solid #fff1;
  background: #fff1;
}

#forecast #forecast-container .daily .wrapper .daily-row:first-of-type {
  border-radius: .5rem .5rem 0 0;
}

#forecast #forecast-container .daily .wrapper .daily-row:last-of-type {
  border: 0;
  border-radius: 0 0 .5rem .5rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-time .daily-weekday {
  text-transform: uppercase;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-time .daily-date {
  color: #fff8;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-icon img {
  height: 3rem;
  width: 3rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-temp {
  font-size: 1.25rem;
  color: #fff9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-temp .daily-temp-day {
  color: #fff;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-precipitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-precipitation img {
  height: 1rem;
  margin-right: .375rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-precipitation .daily-pop {
  font-size: 1.125rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-wind img {
  height: .875rem;
  width: .875rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-wind .daily-wind-speed {
  margin-left: .375rem;
  font-size: 1.125rem;
}

#forecast #forecast-container .daily .wrapper .daily-row .daily-pressure {
  font-size: 1.125rem;
  width: 6.5rem;
  text-align: center;
}

footer {
  text-align: center;
  height: var(--footer-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff8;
  background: #fff1;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  -webkit-box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

footer p {
  font-size: .75rem;
  margin: 0.125rem 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000b;
  -webkit-backdrop-filter: blur(0.5rem) grayscale(0.67);
          backdrop-filter: blur(0.5rem) grayscale(0.67);
  -webkit-transition: .1s;
  transition: .1s;
}

.modal.closed {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  pointer-events: none;
  opacity: 0;
}

.modal > section {
  position: fixed;
  top: calc(var(--header-height) + 1.125rem);
  width: calc(100% - 2rem);
  max-width: 35rem;
  padding: 1.5rem 1rem 1rem 1rem;
  -webkit-transition: .1s;
  transition: .1s;
  background: #fff1;
  border-radius: .5rem;
}

.modal > section .close-btn {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: 2.5rem;
  margin: 0;
  height: 2.5rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 11;
}

.modal > .closed {
  pointer-events: none;
  opacity: 0;
}

.modal .set-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25rem;
  -webkit-box-shadow: 0 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.25);
}

.modal .set-weather h4 {
  font-weight: normal;
}

.modal .set-weather #city-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.modal .set-weather #city-form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .set-weather #city-form .input-box #city-input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 3rem;
          flex: 1 3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal .set-weather #city-form .input-box #city-input::-webkit-input-placeholder {
  color: #fff8;
}

.modal .set-weather #city-form .input-box #city-input:-ms-input-placeholder {
  color: #fff8;
}

.modal .set-weather #city-form .input-box #city-input::-ms-input-placeholder {
  color: #fff8;
}

.modal .set-weather #city-form .input-box #city-input::placeholder {
  color: #fff8;
}

.modal .set-weather #city-form .input-box #get-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.75rem;
  width: 2.75rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: .0625rem;
}

.modal .set-weather #search-status {
  text-align: center;
}

.modal .about .easter-egg {
  margin-top: 3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 42em) {
  #current {
    height: calc(100vh - 12rem);
    min-height: 32rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #current #location-header {
    position: absolute;
  }
  #current #preview-box {
    max-width: 34rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  #current .details {
    max-width: 34rem;
  }
  #current .details .parameter-icon.wind-icon {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #forecast #forecast-container .hourly .hourly-column:first-of-type {
    border-radius: .5rem 0 0 0;
  }
  #forecast #forecast-container .hourly .hourly-column:last-of-type {
    border-radius: 0 .5rem 0 0;
  }
  #forecast #forecast-container .daily {
    overflow-x: hidden;
  }
  footer {
    height: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer p::before {
    content: '⋄';
    margin: 0 .5rem;
  }
  footer p:last-of-type::after {
    content: '⋄';
    margin: 0 .5rem;
  }
}

@media screen and (min-width: 80em) {
  :root {
    --footer-height: 2rem;
    --current-width: calc(35rem + 6.25vw);
  }
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--current-width) auto;
        grid-template-columns: var(--current-width) auto;
    -ms-grid-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height)) var(--footer-height);
        grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height)) var(--footer-height);
        grid-template-areas: "header header" "current forecast" "footer footer";
  }
  body.first-visit {
    -ms-grid-columns: var(--current-width) auto;
        grid-template-columns: var(--current-width) auto;
    -ms-grid-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height)) var(--footer-height);
        grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height)) var(--footer-height);
        grid-template-areas: "header header" "current current" "footer footer";
  }
  body.first-visit #forecast {
    display: none;
  }
  body.first-visit .modal .set-weather {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  #current {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: current;
    width: 100%;
    height: 100%;
  }
  #forecast {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: forecast;
    margin-top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: unset;
  }
  #forecast h2 {
    width: 100%;
  }
  #forecast #forecast-container {
    display: auto;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .modal > section {
    right: 1rem;
  }
  .modal .set-weather {
    left: calc(var(--current-width) * .5);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=main.css.map */